* {
    margin: 1px;
    padding: 1px;
    box-sizing: border-box;

}

ul {
    list-style-type: none;
    margin: 0px;
    margin-bottom: 10px;
    padding: 15px;
    overflow: hidden;
    background-color: #763965;
}

li {
    float: left;
    background-color: #ae5797;
    line-height: 10px;
    margin-right: 3px;

}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

div.images {
    text-align: center;
}

img {
    padding-right: 5px;
}

div.vid {
    text-align: center;
}

h2 {
    padding: 10px 0 15px 0;

}

div.info {
    text-align: left;
}

table {
    margin: 0;
    padding: 0;

}

div.footer {
    width: 100vw;

}

td.tabel {
    width: 100vw;
    background-color: #763965;
    text-align: center;
    color:white;

}

table.tabelinfo {
    width: 100vw;
    background-color: #ae5797;

}

table.footer {
    width: 100vw;
    background-color: #763965;
}
